# Fuentes y configs que no necesita el usuario
src/**
!src/python/**
tsconfig.json
.vscode/**
.git/**
.github/**
.vscodeignore
.vscodelocal/**
node_modules/**

# Mantén solo lo necesario
!dist/**
!media/**
!assets/**
!code_completion/**
!scripts/**
!readme.md
!changelog.md
!license*